* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

i{
    padding-left: 5px;
    padding-right: 5px;
}

hr{
    width: 15%;
    color: var(--dp-lgray);
    margin-top: 15px;
    margin-bottom: 15px;
}

:root {
    --dp-blackfont: black;
    --dp-btcolor: #0061ff;
    --dp-mainblue: #b4d0e7;
    --dp-red: #ff0000;
    --dp-white: white;
    --dp-lgray: #d0d0d3;
    --pr-green:#a2d39b;
    --pr-lightgreen:#d1e9cd;
    --pr-darkred:#61082b;
    --pr-lightred:#ff1c1c;
    --pr-red: #d5001f;
    --pr-darkblue:#0d2481;
    --pr-blue:#0093ce;
    --pr-lightblue:#b4d0e7;
    --pr-yelllow:#ffd830;
    --pr-lightgray: #f5f5f5;
}


/* #region Utility */

.dp_button{
    color: var(--dp-white);
    padding:8px 16px;
    background-color: var(--dp-btcolor);
border: none;
text-align: center;
}

.dp_wh_button{
    border: 1px solid var(--dp-blackfont);
    color: var(--dp-blackfont);
    background-color: var(--dp-white);
    padding:8px 16px;
}

/* .clearfix {
   overflow: auto;
  } */

  .pd_bot{
   
    padding-bottom: 15px;
  }

  .pd_top{
   
    padding-top: 15px;
  }
  .pd_r{
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 20px;

  }

  .w-100{
    width: 100%;
   
  }

.entity_size{
    font-size: 80px;
}

.d-flex{
    display: flex;
 
}

.grey_bord{
    border: 1px solid var(--dp-lgray);
}

.col-4 {
    width: calc(100% / 12 * 4);

}

.col-12 {
    width: calc(100% / 12 * 12);
margin-top: 30px;
margin-bottom: 30px;
}

.row {
    display: flex;
  
    gap: 2rem;
    margin-top: 50px;
}



.c_gray{
    color: var(--dp-lgray);
}

.bold{
    font-weight: 700;
}

.check_color{
    color: #0061ff;
}
/* #endregion Utility */



/* #region header */




#site_header {
    height: 5vh;
    font-weight: 600;
}

header>nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
    padding: 10px;
}

.logo {
    padding: 0 10px;
    width: 15%;
    text-align: center;

}

.l_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.r_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

header a:link {
    text-decoration: none;
    color: var(--dp-blackfont);
    text-align: center;
    margin: 0 20px;
}
/* header a:hover {
   
  border-bottom: 2px solid var(--dp-blackfont);
  padding-bottom: 2px;
} */

/* #endregion header */

/* #region main */



.title{
    font-size:4em;
    font-weight:700 ;
}

.undertitle{
    font-size:3em;
    font-weight:700 ;
}

.med_size{
    font-size:2em;
    font-weight:700 ;
}

.p_left{
    width: 30%;
    text-align: left;
   font-weight: 400;
   font-size:small;
    float: left;
    padding-top: 5%;    
}

.primo_cnt{
    width: 70%;
    margin: auto;
    clear: both;
    padding: 30px;
 
}

.secondo_cnt{
    width: 60%;
    margin: auto;
    margin-top: 8%;
    clear: both;
    padding: 30px;
 
}

.background_section{
    background-color: var(--dp-mainblue);

}
/* .flo_right{
    float: right;
} */
.jumbo{
    width: 70%;
    padding-top: 5%;
  
    margin-bottom: -10%;
}

.radio_bt{
   color: blue; 
   font-weight: bold;
}

.radio_text{
   
    padding-right: 10px;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
}
.radio_text>span{
    margin-right: 70px;
}
.card_row{
    margin: 50px;
}

.head_card{
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--dp-lgray);
    padding: 10px;
    font-weight: 600;
}

.body_card{
    width: 80%;
    margin: auto;
}
.body_card_col-12{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card_price{
    margin-top: 20px;
    margin-bottom: 50px; 
}

.card_features{
    margin-top: 20px;
    margin-bottom: 50px;
}



.partner_img{
    width: 100%;
    align-items: flex-start;
}

.p_contatto{
    width: 80%;
    text-align: left;
    margin: 10px;
    padding-left: 20px;
}

.op_imgs{
    width: 100%;
}

.op_h3{
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 25px
}

.op_row {
    display: flex;
  flex-wrap: wrap;

    margin-top: 50px;
}

.vp_ratio{
    height: 30vh;
    width: 100vw;
}

.square{
    height:60%;
    width: 50%;

    position: relative;
}

.pr_logo{
    width: 60%;
    margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  filter: invert(93%) sepia(93%) saturate(0%) hue-rotate(241deg) brightness(106%) contrast(111%);
}

.pr_logo_des{
    width: 40%;
    height:40%;
}

#pr-asu{
    background-color: var(--pr-darkred);
}
#pr-florida{
    background-color: var(--pr-blue);
}
#pr-topps{
    background-color: var(--dp-red);
}
#light-green{
    background-color: var(--pr-lightgreen);
}
#pr-designit{
    background-color: var(--pr-green);   
}
#pr-cco{
    background-color: var(--pr-yelllow);   
}
#pr-lonely{
    background-color: var(--pr-darkblue);   
}
#pr-hearst{
    background-color: var(--pr-lightblue);   
}
#pr-wbr{
    background-color: var(--pr-red);   
}
#pr-desig{
    background-color: var(--pr-lightgray);
padding-left: 2%;
margin-top: 50px;
margin-bottom: -5vh;
}

.vp_try_dropbox{
    height: 20vh;
    width: 100vw;
    background-color: var(--pr-lightblue);
    display: flex;
    justify-content: center;
 align-items: center;
    margin-top: 5vh;
}

.pr-h3{
    color: var(--pr-darkred);
    width: 30%;
    padding: 20px;
    align-self: center;
}

/* #endregion main */